<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        textview{
            display:block;
         }
         body{
            font-size:50px;
            background:black;
            color:orange;
            width:100%;
         }
    </style>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            me='Me      : ';
            you='There: ';
            pre='<div style="color:green">';
            suf='</div>'
            addr='http://'+document.domain+':'+'80'
            var socket=io.connect(addr);
            socket.on('connect',function (){
                text=pre+'Connected ...'+suf;
                $('#message_show')[0].insertAdjacentHTML('beforeend',text);
            });
            socket.on('say_hi',function(msg){
                console.log(msg)
                ircv=msg.data
                text=pre+you+ircv+suf;
                $('#message_show')[0].insertAdjacentHTML('beforeend',text);

                isend="Hello, I'm Mary!";
                socket.emit('say_hi',{data:isend});
                text=pre+me+isend+suf;
                $('#message_show')[0].insertAdjacentHTML('beforeend',text);
            });
            socket.on('message',function(msg){
                console.log(msg)
                ircv=msg.data
                text=pre+you+ircv+suf;
                $('#message_show')[0].insertAdjacentHTML('beforeend',text);
                //socket.send({data:'Mary'});
            });

            $('.msg-send')[0].onclick=function(){
                isend=$('#emit_data')[0].value;
                socket.send({data:isend});
                text=pre+me+isend+suf;
                $('#message_show')[0].insertAdjacentHTML('beforeend',text);
                $('#emit_data').val('');
            };

            $('#emit_data').bind('keypress',function(event){
                if(event.keyCode===13){
                    event.preventDefault();
                    $('.msg-send').click();
                };
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            a=navigator.userAgent;
            if(!a.match(/(Android|iOS)/i)){
                console.log('Not mobile!');
                $('body').css('font-size','20px');
            }
            else{

                $('body').css('font-size','40px');
                mobi=$('#emit_data');
                mobi.css({'font-size':'100%'});
                a=$('.button-link');
                a.css({'font-size':'100%'});

            }
        });
    </script>
</head>
<body>
<div style="margin-left:auto;margin-right:auto;">
    <div style="margin-left:auto;margin-right:auto;width:20em;">
        <ul><li>
            <a href="http://207.148.94.195">My site...</a></li>
            <li><a href="https://github.com/Peiiii">My github...</a></li></ul>

<h1 style="color:green">Danger!</h1>
<br><br>
<div id="message_show">

</div><br><br>
<input type="text" id="emit_data" placeholder="Input..." autocomplete="off" >
<button href="#!" class="button-link msg-send">Echo</button>

<iframe name="the_frame" style="display:none;"></iframe>
        <p>Nothing!</p></div></div>
</body>
</html>